img {
	padding-left:650px;
}

.search {
	position:fixed;
	padding-left:100px;
	padding-right:100px;
	clear:both;
	position:relative;
	margin-top:50px;
	border-style:inset;
		}

div {
	height: 25px;
	width: 120px;
	margin: auto;
	text-align: center;
}


this one

